{% extends "Layouts/loginBase.html" %}



{% block content %}

{% load static %}



<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="{% static 'login/images/img-01.png' %}" alt="IMG"  style="margin-top: -150px;">
            </div>

            <form method="POST" action="{% url 'Registration' %}" id="signup-form" class="signup-form" enctype="multipart/form-data" style="margin-top: -150px;">

              

                <span class="login100-form-title login100-form-btn mb-5">
                    Personal Informations

                </span>

                {% csrf_token %}

                <div class="wrap-input100 validate-input" data-validate = "Valid first name is required">
                    <input class="input100" type="text" name="first_name" required id="first_name"  placeholder="Fisrt Name">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate = "Valid last name is required">
                    <input class="input100" type="text" name="last_name" required id="last_name"  placeholder="Last Name ">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate = "Valid email is required">
                    <input class="input100" type="text" name="email" required id="email"  placeholder="Email">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                

                
                <span class="login100-form-title login100-form-btn mb-5" style="margin-top: 70px;">
                    Login Informations

                </span>

                <div class="wrap-input100 validate-input" data-validate = "Valid username is required">
                    <input class="input100" type="text" name="username" required id="username"  placeholder="Username">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </div>
               

                <div class="wrap-input100 validate-input" data-validate = "Password is required">
                    <input class="input100" type="password" name="password1" maxlength="30" required id="password1" placeholder="Password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Password is required">
                    <input class="input100" type="password" name="password2" maxlength="30" required id="password2" placeholder="Confirm Password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>



                <span class="login100-form-title login100-form-btn mb-5" style="margin-left: -500px; margin-top:-280px">
                    PROFIL
                </span>

                <div class="wrap-input100 validate-input" data-validate = "Valid telephone is required" style="margin-left: -500px;">
                    <input class="input100 file-field" type="file" name="photo" required id="photo"  placeholder="photo">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-profil" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Valid telephone is required" style="margin-left: -500px;">
                    <input class="input100" type="text" name="telephone" required id="telephone"  placeholder="Telephone">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate = "Valid username is required" style="margin-left: -500px;">
                    <input class="input100" type="text" name="promo" required id="promo"  placeholder="Promo">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate = "Valid genie is required" style="margin-left: -500px;">
                    <input class="input100" type="text" name="genie" required id="genie"  placeholder="Genie">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-book" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate = "Valid username is required" style="margin-left: -500px;">
                    <input class="input100" type="text" name="entreprise_actuelle" required id="entreprise_actuelle"  placeholder="Entreprise actuelle">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-industry" aria-hidden="true"></i>
                    </span>
                </div>

               
                

           
                
                <div class="container-login100-form-btn" style="margin-top : -90px">
                    <button class="login100-form-btn">
                        CREATE
                    </button>
                </div>

                <!-- <div class="text-center p-t-12">
                    <span class="txt1">
                        Forgot
                    </span>
                    <a class="txt2" href="{% url 'SetPassword' %}">
                         Password?
                    </a>
                </div>

                <div class="text-center p-t-136">
                    <a class="txt2" href="{% url 'Registration' %}">
                        Create your Account
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div> -->
            </form>
        </div>
    </div>
</div>




{% endblock content %}
